a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: black;
}

a:active {
	text-decoration: underline;
	color: black;
}

.search-zone {
	width: 100%;
	display: inline-block;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #DDD;
}

.search-bar {
	text-align: center;
	margin: 0 auto;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style-type: none;
	padding: 0;
}

.book-info {
	background-color: #FBFBFB;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2px;
	margin-bottom: 10px;
	border-style: solid;
	border-radius: 7px;
	border-width: 2px;
	border-color: #EEE;
	border-top-color: #336774;
}

.book-title {
	font-style: italic;
	margin-left: 1em;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.book-author {
	font-family: Times;
	font-style: italic;
	margin-left: 2em;
}

.book-date {
	font-family: Times;
}

.tag {
	margin-left: 4px;
	margin-bottom: 4px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 10px;
	font-style: italic;
	color: #C7802D;
	font-family: Times New Roman;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: #C7802D;
}

.review {
	border-style: dashed;
	border-width: 1px;
	border-color: #777;
	border-radius: 5px;
}

.review {
	font-size: 12px;
	width: 92%;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
}

.review-title {
	font-size: 13px;
	font-weight: bold;
	margin-left: 1em;
}

.review-title:link {
	text-decoration: none;
	color: #336774;
}

.review-title:visited {
	text-decoration: none;
	color: #336774;
}

.review-title:hover {
	text-decoration: underline;
	color: #336774;
}

.review-title:active {
	text-decoration: underline;
	color: #336774;
}

.review-brief {
	color: #777;
	width: 93%;
	margin-left: auto;
	margin-right: auto;
}